<div class="fixed-action-btn">
	{{#if user.status}}
		<a href="/posts/add" class="	btn-floating btn-large red">
			<i class="fa fa-plus"></i>
		</a>
	{{else}}
		<a href="/questions/add" class="	btn-floating btn-large red">
			<i class="fa fa-plus"></i>
		</a>
	{{/if}}
	
</div>