<h1>Welcome</h1>
<p>Welcome to Tutree 1.0.0</p>
<p>In today’s world, finding good information about any topic  and discussing it with someone who has good knowledge about that topic has become a big problem for students. Most of the time they don’t even get a competitive background so that they could analyse their mistakes and correct them.</p>

{{#if user}}

{{else}}
	<a href="/users/login" class="btn red darken-1"><i class="fa fa-login left"></i>Login</a>
	<a href="/users/register" class="btn blue darken-1"><i class="fa fa-register left"></i>Register</a>
{{/if}}