<h1>Add Post</h1>
<div class="row">
	<form action="/posts" method="post" class="col s12">
		<div class="row">
			<div class="input-field">
				<h5>Topic</h5>
				<textarea name="title">
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<h5>Here goes your post</h5>
				<textarea name="body">
				</textarea>
			</div>
		</div>
		<input type="submit" value="post" class="btn">
	</form>
	
</div>